html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    height: 50px;
    width: 100%;
    background: #0fb2ff;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    line-height: 2em;
}

.follow, .nofollow, .pBack {
    padding: 5px 10px;
    font-weight: 100;
    color:#ffffff
}

.follow {
    background: #4cb0f9;
    margin-right: 10px;
}

.nofollow {
    background: #DDDDDD;
    margin-right: 10px;
}

.pBack {
    background: #4cb0f9;
}

#panorama {
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 5px 5px;
    border: 1px solid #0fb2ff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.40);
}

#panorama img {
    width: 40px;
    height: 40px;
}

.control_btn {
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 1;
    margin: -25% 15% 0 15%;
    width: 70%;
    height: 50px;
    text-align: center;
}

.control_btn div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.control_btn img {
    width: 40px;
    height: 40px;
    margin: 5px auto;
}

.secList {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    top: 50px;
    width: 100%;
    height: 90%;
    z-index: 3;
    right: -100%;
    overflow-x: hidden;
    font-size: 12px;
    color: #ffffff;
    line-height: 17px;
}

.list {
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    float: right;
}

.date {
    position: absolute;
    /*
        background: rgba(0, 0, 0, 0.63);
    */
    width: 100%;
    height: 250px;
    top: -100%;
    margin-left: auto;
    margin-right: auto;
}

#date {
    position: relative;
    width: 250px;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
}

#date form {
    padding: 10px 10px;
}

.express {
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    margin-left: auto;
    margin-right: auto;
}

.expressTime {
    border-radius: 5px;
    padding: 5px 5px;
    width: 200px;
    background: #FFFFFF;
    text-align: center;
    margin: 50% auto;
}

.expressTime select {
    width: 80%;
    margin: 5px auto;
}

.expressTime button{
    margin:5px 10px ;
}

.total {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid blue;
    background: rgba(51, 122, 183, 0.61);
}

.row {
    height: 103px;
    margin: 0;
}

.col-xs-3, .col-xs-4, .col-xs-6 {
    border-right: 1px solid #dddddd;
    height: 100px;
    padding: 0;
}

.col-xs-3 p, .col-xs-4 p, .col-xs-6 p {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 17px;
}

.col-xs-6 p {
    text-align: left;
}

.slider-box {
    box-shadow: none;
    width: 80%;
    height: 50px;
    background: rgba(221, 221, 221, 0);
    position: absolute;
    margin: -40% 10% 0 10%;
}

.orange {
    background: rgba(49, 176, 213, 0.8);
}

.wathet {
    background: rgba(92, 184, 92, 0.80);
}

#slider {
    position: relative;
    height: 14px;
    width: 90%;
    margin: 13px auto;
    background: none;
}

.ui-widget-content {
    background: #07caee;
}

#slider-range-max {
    height: 5px;
}

.ui-slider .ui-slider-handle {
    background: #ff3333;

}

.ui-widget-header {
    background: #07caee;
}

.manage {
    background: #4cb0f9;
    padding: 5px 10px;
    font-weight: 100;
    position: absolute;
    margin-top: -25px;
}

.renameGroup {
    margin-left: 40%;
}

.delGroup {
    margin-left: 60%;
}

.remove {
    margin-left: 80%;
}

.option-menu {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50px;
    z-index: 2;
    margin: 0 auto;
}

.panel {
    margin-bottom: 0;
}

.myPanel {
    border: 1px solid #dddddd;
}

.pano {
    position: absolute;
    top: 55px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0);
}

.pano img {
    width: 40px;
    height: 40px;
}

.closePano {
    z-index: 3;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.panorama {
    position: absolute;
    top: 50px;
    background: #ffffff;
    z-index: 5;

}

.fence-now {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 20px;
}

.bottom-menu {
    position: absolute;
    width: 100%;
    top: 90%;
    text-align: center;
}

.argument {
    position: absolute;
    width: 100%;
    top: 80%;
}

.select {
    width: 75px;
    height: 34px;
    display: inline-block;
}

.select select {
    height: 100%;
    width: 100%;
    padding: 0 5px;
}

.arg-warp {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.setFencing {
    width: 75px;
}

.load {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    background: rgba(221, 221, 221, 0.41);
}

.loading {
    width: 32px;
    height: 32px;
    margin: 60% auto;
    margin-bottom: 0;
}

.tips, .warning {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.14);
}

.dialog {
    width: 80%;
    margin: 40% 10%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;

}

.my-content div {
    margin: 10px 0;
}

.my-footer {
    text-align: right;
}

.isHide a {
    display: block;
    width: 100%;
}

#fenceMessage {
    background: rgba(221, 221, 221, 0.60);
    color: #ffa20d;
}
.fence-radius{
    position: absolute;
    height: 50px;
    width: 100%;
    top: 70px;
}
.fence-radius-wrap{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.70);
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
}
.radius{
    display: inline-block;
}

.move {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 2;
}

.move-group-choose {
    padding: 10px;
    width: 200px;
    margin: 50% auto;
    background: #ffffff;
    border-radius: 10px;
}

.move-group-choose button {
    margin: 5px 10px;
}

#groupName {
    width: 100%;
    height: 30px;
}

.rename-device {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
}

.rename-device-body {
    width: 250px;
    height: 150px;
    margin: 50% auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.rename-device-body label {
    margin: 5px auto;
}

.rename-device-body button {
    margin: 10px 10px;
    width: 30%;
}

.rename {
    background: #07caee;
}

.new-group, .add-group, .delete-group {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 208, 227, 0);
}

.new-group-name, .add-group-content, .delete-group-content {
    width: 250px;
    margin: 50% auto;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #dddddd;
}

.new-group-name button, .add-group-content button, .delete-group-content button {
    margin: 10px 10px;
}

.goTrack {
    position: absolute;
    bottom: 5%;
    width: 50px;
    height: 50px;
    margin: 0 5%;
}

.ToTrack {
    margin: 9px auto;
}

.ToTrack img {
    height: 50px;
    width: 50px;
}

.fence_circle{
    background-image: url("../img/fence_circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.radius-select{
    position: absolute;
    right: 0;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 9.3px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(0, 106, 255, 0.81);
    border-radius: 25px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23), 0px 0px 0px rgba(13, 13, 13, 0.23);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ff3333;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(15, 115, 255, 0.81);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 7.4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(0, 106, 255, 0.81);
    border-radius: 25px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23), 0px 0px 0px rgba(13, 13, 13, 0.23);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 7.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(0, 100, 240, 0.81);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: rgba(0, 106, 255, 0.81);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.23), 0px 0px 0px rgba(13, 13, 13, 0.23);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #ff3333;
    cursor: pointer;
    height: 7.4px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 106, 255, 0.81);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(15, 115, 255, 0.81);
}
