<div ng-controller="follow">
    <div id="map" style="z-index: 1">
        
    </div>
    <div class="pano">
        <a href="">
            <img src="./img/panorama0.png" alt="全景"/>
        </a>
    </div>
    <div class="panorama" style="visibility: hidden">
        <div class="closePano">
            <a href="">
                <img src="./img/Close.png" alt="关闭"/>
            </a>
        </div>
        <div id="f-panorama">

        </div>
    </div>
    <div class="goTrack">
        <div class="ToTrack">
            <a id="f_p"><img src="./img/follow.png" alt="跟踪"/></a>
        </div>
    </div>
</div>
